*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Color1:#052f5c;
    --Color2:#132f88;
    --Color3:#35022f;
    --Color4:#fffbfa;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
header {
    background-color: var(--Color1);
    height: 10vh;
    text-align: center;
}
nav > ul > li {
    display: inline;
    padding: 5px;
  }
  
main,article {
    background-color: var(--Color2);
    min-height: 100vh;
}
footer {
    background-color: var(--Color3);
    height: 10vh;
    color:var(--Color4);
    text-align: center;
    padding: 3vh;
}
H1{
  padding: 1vh;
    color:var(--Color4);
}
a{
    color:var(--Color4);
    text-decoration: none;
}          
a:hover {
    color: var(--Color4);
    font-size: large;
    font-weight: bolder;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.animar{
animation: efectoanimado 2s 4.5;
}
@keyframes efectoanimado {
  0% {
    opacity: 0.5;
}
50% {
  opacity: 1;

}
100% {
  opacity: 0.5;

}
}



/* 320px */
@media only screen and (min-width: 320px) {

}


/* 540px */
@media only screen and (min-width: 540px) {

}

/* px */
@media only screen and (min-width: 800) {

}

/* px */
@media only screen and (min-width: 1024px) {
    
}
/* https://cybmeta.com/como-hacer-un-iframe-responsive#:~:text=B%C3%A1sicamente%20la%20soluci%C3%B3n%20consiste%20en,en%20funci%C3%B3n%20del%20aspect%20ratio. */